@{
    ViewBag.Title = "Inicia Admin";
}

<h2>Inicia Identidade</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Adicione as suas credencias para ser adicionado como um Admin.</h4>
    <hr />
    <div class="form-group">
        <label class = "col-md-2 control-label">Admin Email</label>
        <div class="col-md-10">
            <input type="text" name="adminUserEmail" />
        </div>
    </div><br/><br/>
    <div class="form-group">
        <label class="col-md-2 control-label">Admin Password</label>
        <div class="col-md-10">
            <input type="text" name="adminPassword" />
        </div>
    </div><br /><br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" value="Inicializar" />
        </div>
    </div>
}