@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>
<h3>Página de contactos</h3>

<address>
    e-Recarga<br />
    Rua ABC, 123-456<br />
    <abbr title="Telefone">T:</abbr>
    123 456 789
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:exemploPWeb@exemplo.com">exemploPWeb@exemplo.com</a><br />
</address>